# Backend .gitignore
# Virtual Environment
backend/venv/
# Env Files

backend/.env
# Local Vector DB

backend/chroma_db/
# Temp Cloned Repo

backend/temp_repo/
# Python cache

backend/__pycache__/
backend/*.pyc

# Test files
backend/test.py
backend/api_tester.py


# Frontend .gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# testing
frontend/coverage/

# next.js
frontend/.next/
frontend/out/

# production
frontend/build/

# misc
.DS_Store
*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files
frontend/.env*

# vercel
frontend/.vercel/

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

#====================================================

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
